$grey-1: #eee;
$grey-2: #ddd;
$grey-3: #999;
$grey-4: #555;
$grey-5: #333;

$red-1: #ff524b;
$green-1: #59cb37;
$blue-1: #3590ce;

$color-back: $grey-5;

$color-primary: $blue-1;
$color-secondary: mix($blue-1, $color-back, 80%);
