@import "globals";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

div,
input, textarea, button,
img, a {
  display: block;
  box-sizing: border-box;
}

body {
  font: $font-primary;
}

.hidden {
  display: none;
}

// Declarations
@import "layout";

